.cab{
    background: rgb(197, 113, 104);
    margin: 10px;
    border-radius: 10px;
    height: 50px;

}
.as{
    background: blue;
    float: left;
    margin: 10px;
    height: 520px;
    width: 15%;
    border-radius: 10px;
}
.secc{
    background: green;
    margin: 20px;
    display: flex;
    border-radius: 10px;
    height: 520px;
    
    
}
.foo{
    background:black ;
    margin: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 15px;
    

}